body {
	background-color: beige;
}

h1 {
	text-align: center;
	color: blue;
}

.jumbotron {
	display: inline-block;
	position: absolute;
	left: 200px;

}

#Rock {/*
	 border-radius: 50%;*/
}


#Scissors {
    /* border-radius: 50%;*/
}


#Paper {
    /* border-radius: 50%;*/
}


button {
	border-radius: 50%;
}